# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
MONGO_URI=

# Authentication secrets
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Cloudinary configuration (optional fallback to Local Storage)
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cross-Origin resource sharing (frontend client URL)
CLIENT_URL=http://localhost:3000
