# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
MONGO_URI=

# Authentication secret
JWT_SECRET=

# Cross-Origin resource sharing (frontend client URL)
CLIENT_URL=http://localhost:5173
